
body 
{
background: #000000;
text-align: center;
}


#main {
width: 100px;
height: 768px;
}

hr {
height: 2px;
color: #000000;
}

<div style="text-align: center;">
<div style="display: inline-block; text-align: left;">

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 42%;
}

p {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
font-weight: 300;
text-align: center;
white-space: nowrap;
overflow: visible;
color: #FFFFFF;
}

</div style>
</div style>


