body 
<center>
{
background: #000000;
text-align: center;
}

#main {
width: 100px;
height: 768px;
}

hr {
height: 2px;
color: #000000;
}

p {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
font-weight: 300;
text-align: center;
color: #FFFFFF;
}


nav 

	{  html, 
		body {
    overflow: hidden;
} 
	} 

<center/>

