body {
background: #000000;
text-align: center;
}

#main {
width: 1024px;
height: 768px;
}

hr {
height: 2px;
color: #000000;
}
p {
font-family: 'Libre Franklin', sans-serif;
font-size: 10pt;
font-weight: 300;
text-align: center;
color: #FFFFFF;
}

nav 
	{ 
	text-align: center; overflow: visible; 
	} 

@media only screen and (max-width 700px) {
{
img {width:200px}
	}


